<div class="badge">
    <img class="badge-img rounded-circle" src="<%= badge.image %>" title="<%= badge.name %>"/><br/>
    <div class="badge-inf"><%= badge.name %><br/><%= badge.description %></div>
</div>