<%
    title = user+"'s hand";
    currentPage = "hand";
_%>
<% include includes/header %>
<div id='cards-grid'>
    <% if(cards.length) { %>
        <% cards.forEach(function(card) { %>
            <% include includes/handcard %>
        <% }); %>
    <% } else if(error) { %>
        <%= error %>
    <% } %>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.11/moment-timezone-with-data.js"></script>
<script type="text/javascript" src="/js/hand.js"></script>

<i id="date-display-text">Card creation dates are displayed in UTC.</i><br />

<% include includes/footer %>
