<%
    title = "Sets";
    currentPage = "sets";
_%>
<% include includes/header %>
<h1>Claimable Sets</h1>
<ul class="nav nav-tabs" id="availableSetTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="true">Search Sets</a>
    </li>
    <% if(user) { %>
        <li class="nav-item">
            <a class="nav-link" id="progress-tab" data-toggle="tab" href="#progress" role="tab" aria-controls="progress" aria-selected="false">Sets with Progress</a>
        </li>
    <% } %>
    <li class="nav-item">
        <a class="nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">All Claimable Sets</a>
    </li>
</ul>
<div class="tab-content" id="availableSetTabsContent">
    <div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">
        <p>Use the interface below to search for the sets you want. You can search by the series of any waifu in them or the
        name of any waifu in them.</p>
        <form id='searchform'>
            <input type='text' name='query' placeholder='Enter search text here...' id='query'/><br/>
            <input type='radio' name='type' value='waifuseries' checked/> Waifu Series <input type='radio' name='type'
                                                                                                value='waifuname'/> Waifu Name
        </form>
        <div id='search-results-holder' class='sets-holder' style='display: none;'></div>
    </div>
    <% if(user) { %>
        <div class="tab-pane fade" id="progress" role="tabpanel" aria-labelledby="progress-tab">
            <h2><%= user %>'s Set Progress</h2>
            Below are the claimable sets from which <%= user %> owns one or more waifus.
            <div id='set-progress-holder' class='sets-holder'>
                <i>Loading...</i>
            </div>
        </div>
    <% } %>
    <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
        <h2>All Sets</h2>
        Click the button below to load a full list of all claimable sets<% if(user) { %> that <%= user %> has not yet claimed<% } %>.
        <div id='all-sets-holder' class='sets-holder'>
            <button class="btn btn-primary" id="load-allsets-button">Load Full Sets List</button>
        </div>
    </div>
</div>
<hr/>

    
<script>
    let uniqid = 0;
    let cardtemplate = '<div class="card card-tcg">' +
        '<div class="card-body card-body-tcg">' +
        '<img data-src="{IMAGE}" alt="{CARDNAME}" title="{CARDNAME}" class="card-image lazyload" />' +
        '<div class="id-holder rarity-{RARITY}">{ID}</div>' +
        '<div class="invisible-space-holder">&nbsp;</div>' +
        '<div class="rarity-holder rarity-{RARITY}">{RARITY}</div>' +
        '</div>' +
        '<div class="card-footer text-center{OWNEDCLASS}">' +
        '{OWNEDDATA}' +
        '<div class="card-info">' +
        '{CARDNAME}<br />' +
        '{SERIES}' +
        '</div>' +
        '</div>' +
        '</div>';

    function populateSets(destination, data, emptyString) {
        if ('error' in data || !('count' in data && 'sets' in data)) {
            $(destination).html("<i>Data loading error. Please try again.</i>");
            return;
        }
        if (data.count === 0) {
            $(destination).html("<i>" + emptyString + "</i>");
            return;
        }
        uniqid += 1;
        let buttons = "";
        let content = "";
        buttonTemplate = '<button class="btn btn-primary btn-set" type="button" data-toggle="collapse" data-target="#set{ID}-{UNIQ}" aria-expanded="false" aria-controls="set{ID}-{UNIQ}">{TITLE}</button>&nbsp;';
        for (set of data.sets) {
            title = user !== "null" ? set.name + " (" + set.cardsOwned + "/" + set.totalCards + ")" : set.name;
            buttons += buttonTemplate.replace(/{ID}/g, set.id).replace(/{UNIQ}/g, uniqid).replace(/{TITLE}/g, title);
            reward = set.rewardPudding + ' pudding';
            setbox = '<div class="collapse" id="set' + set.id + '-' + uniqid + '"><div class="card card-body" style="display: inline-block;">Reward: ' + reward + '<br />';
            for (row of set.cards) {
                let card = cardtemplate;
                card = card.replace(/{ID}/g, row.id.toString());
                card = card.replace(/{IMAGE}/g, row.image);
                card = card.replace(/{CARDNAME}/g, row.name);
                card = card.replace(/{SERIES}/g, row.series);
                card = card.replace(/{RARITY}/g, row.rarity);
                if (user !== "null") {
                    card = card.replace(/{OWNEDCLASS}/g, row.owned ? " owned" : " not-owned");
                    card = card.replace(/{OWNEDDATA}/g, '<div class="owned-icon">' + (row.owned ? "✔" : "❌") + "</div>");
                }
                else {
                    card = card.replace(/{OWNEDCLASS}/g, '').replace(/{OWNEDDATA}/g, '');
                }
                setbox += card;
            }
            setbox += '</div></div>';
            content += setbox;
        }
        $(destination).html("<p>" + data.count + " set(s) found.</p><p>" + buttons + "</p>" + content);
    }

    let currentRequest = null;

    function search() {
        $("#search-results-holder").show();
        if ($("#query").val().length >= 3) {
            $("#search-results-holder").html("<i>Loading...</i>");
            currentRequest = $.get({
                url: "/smartsetsdata",
                data: {type: $("input[name='type']:checked").val(), q: $("#query").val(), user: user},
                success: function (data) {
                    currentRequest = null;
                    populateSets("#search-results-holder", data, "No results found for those search terms.");
                },
                beforeSend: function () {
                    if (currentRequest != null) {
                        currentRequest.abort();
                    }
                },
                dataType: 'json'
            });
        }
        else {
            $("#search-results-holder").html("<b>Please enter a search query of 3 characters or more.</b>");
        }
    }

    if (user !== "null") {
        $("#your-set-progress").show();
        $.get("/smartsetsdata", {type: "progress", user: user}, function (data) {
            populateSets("#set-progress-holder", data, "This user doesn't own any cards in any unclaimed sets right now.");
        }, 'json');
    }
    $("#load-allsets-button").click(function () {
        $("#all-sets-holder").html("<i>Loading...</i>");
        $.get("/smartsetsdata", {type: "allsets", user: user}, function (data) {
            populateSets("#all-sets-holder", data, "There are no unclaimed sets in the system right now.");
        }, 'json');
    });
    $("#query").on('input propertychange paste', search);
    $("input[name='type']").on('change', search);
    $(document).ajaxStop(function () {
        $("img.lazyload").lazyload({
            effect: "fadeIn"
        }).removeClass("lazyload");
    });
</script>

<% include includes/footer %>